@import "../../styles/global.css";

.projects {
    background-color: #ebebeb;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding-bottom: 30px;
}