@import "../../styles/global.css";

.menu {
    display: flex;
    flex-direction: column;
    color:white;
}

.menu a, .menu-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
    user-select: none;
}

.menu a:hover,
#rev {
    background-color: var(--main-color-orange);
    color: black;
    border-top: 1px solid black;
}

.menu a:link {
    color:white;
}


.toggle {
    height: 0px;
    transition: .7s;
    overflow: hidden;
}

#break {
    display: none;
}
@media only screen and (min-width: 767px) {
    .menu-trigger {
        display:none;
    }

    .toggle {
        height: auto !important;

        display: flex;
        flex-direction: column;
        width: 140px;
    }

    .toggle a {
        display: flex;
        text-align: center;
        min-height: 80px;
    }

    .menu {
        top: 0;
        position: sticky;
        z-index: 1;

        width:140px;


        left: 7%;
        top: 7%;
    }

    .menu a:hover, #rev {
        border: none;
    }

    #break {
        display: inline;
    }
}