/* Clearfix */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


@media only screen and (max-width: 300px) {
    html {
        overflow: scroll;
    }
}