@import "../../styles/global.css";

.skills {
    background-color: #fbfbfb;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.sills-container {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

